x-common: &common
  build: .
  volumes:
    - ./config.ini:/app/config.ini:ro
    - ./instance:/app/instance
    - ${BLOBS_DIRECTORY:-./instance/blobs}:/app/instance/blobs
    - ${GATEKEEPER_INSTANCE:-../gatekeeper/instance}:/gatekeeper-data
  environment:
    - TZ=${TZ:-UTC}
  networks:
    - platform-net
  restart: unless-stopped

services:
  sharepoint-mirror:
    <<: *common
    container_name: sharepoint-mirror

  worker:
    <<: *common
    container_name: sharepoint-mirror-worker
    command: ["python", "-m", "worker.sync_worker"]

networks:
  platform-net:
    external: true
